/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
    padding: 2rem;

}

header {
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #332c2c;
    font-weight: bold;
}

/* Estilos de productos */
.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.producto img {
    max-width: 100%;
    height: auto;
}



/* Estilos de pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
